:root {
--columns: ;
--rows: ;
--color: ;
--gradientBlack: ;
}

#container{
display:grid;
width:500px;
height:500px;
grid-template-columns:repeat(var(--columns),1fr);
grid-template-rows:repeat(var(--rows),1fr);
border-style:solid;
margin:auto;
}

.hover {
background-color:black;
}
.button{
display:inline-block;
margin:2%;
margin-bottom:5%;
}
#buttons{
text-align:center;
}
.rainbow{
background-color:var(--color);
}
.gradient{
background-color:black;
opacity:var(--gradientBlack);
}

}

