:root {
--columns: ;
--rows: ;
}

#container{
display:grid;
width:500px;
height:500px;
grid-template-columns:repeat(var(--columns),1fr);
grid-template-rows:repeat(var(--rows),1fr);
border-style:solid;
margin:auto;
}

.hover {
background-color:black;
}
#btn{
display:block;
margin:auto;
margin-bottom:5%;
}

